altgraph==0.15
asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
crypto==1.4.1
cryptography==2.2.2
django==2.0.2
Flask==0.12.2
future==0.16.0
gTTS==1.2.2
gTTS-token==1.1.1
gunicorn==19.6.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
LogMeIn==0.1.1
macholib==1.9
MarkupSafe==1.0
mysql-connector-python==8.0.13
Naked==0.1.31
pefile==2017.11.5
prompt-toolkit==2.0.3
pycparser==2.18
pyglet==1.3.0
PyInstaller==3.3.1
pymessenger==0.0.7.0
PyMySQL==0.9.1
pyOpenSSL==18.0.0
pypiwin32==223
pyttsx==1.1
pytz==2018.3
pywin32==223
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
selenium==3.13.0
shellescape==3.4.1
six==1.11.0
UNKNOWN==0.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wit==5.1.0